target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

frontend/node_modules/
frontend/dist/

.idea/
*.iws
*.iml
*.ipr
.vscode/
.settings/
.classpath
.project

.DS_Store
*.log

.env
